* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:aqua;
    color:antiquewhite;
    height:5rem;
    line-height: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    height:150px;
    width:150 px;
    border-radius: 50%;
    object-fit:cover;
}

.choices{
    display:flex;
    justify-content:center;
    gap:12rem;
    align-items:center;
    margin-top:5rem;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}
    

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg.container{
    margin-top: 5rem;
}


#msg{
    background-color: aquamarine;
    color:blueviolet;
   font-size: 20px;
    display:inline;
    padding:1rem;
    border: radius 1rem;
}